In [34]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
# import seaborn as sns
# from scipy import stats
from matplotlib import rc
# import missingno as msno

#엑셀파일 읽어오기
train_df = pd.read_csv('./data/train_data.csv')
train_df.head()

#Target 파일 읽어오기
train_df_target = pd.read_csv('./data/train_target.csv')
train_df_target.head()

     td  code    target
0  T001  A005 -0.041401
1  T001  A006 -0.010438
2  T001  A007 -0.042630
3  T001  A011  0.109743
4  T001  A012  0.058011

In [76]:
#테스트 데이터 추출
# train_dataFrame = train_df.drop(train_df.index[66452:])
# train_target_dataFrame = train_df_target.drop(train_df.index[66452:])
# train_after_dataFrame = train_df.drop(train_df.index[:66452])
# train_target_after_dataFrame = train_df_target.drop(train_df.index[:66452])

In [127]:
train_dataFrame = train_df.iloc[:66452,:]
train_target_dataFrame = train_df_target.iloc[:66452,:]
train_after_dataFrame = train_df.iloc[66452:,:]
train_target_after_dataFrame = train_df_target.iloc[66452:,:]

train_after_dataFrame.head()

,td,code,F001,F002,F003,F004,F005,F006,F007,F008,...,F037,F038,F039,F040,F041,F042,F043,F044,F045,F046
66452,T221,A005,15.578284,-0.000860,0.869006,-0.245833,8.400000,-0.011710,0.019515,12.898494,...,24.884793,0.020731,0.001450,1.0,0.001742,3.252033,32.843137,0.536111,28.436019,5.005733
66453,T221,A006,10.359372,0.000000,0.753383,0.036667,-0.239808,0.035719,0.019551,6.607818,...,12.737127,0.005828,0.000328,2.0,0.003055,0.000000,15.877437,1.045707,18.518519,-0.112380
66454,T221,A007,-8.673299,-0.000166,0.805044,-0.026893,2.678571,0.032706,0.014382,7.376801,...,10.460090,-0.004149,-0.000415,6.0,-0.002155,0.000000,-12.394302,0.981462,1.623023,1.890973
66455,T221,A008,-9.916731,-0.000813,2.835118,-0.021368,12.898752,0.079832,0.021287,0.176162,...,0.369914,0.002191,-0.005916,4.0,0.026129,-6.250000,-23.568075,0.626317,-13.679745,5.733594
66456,T221,A012,-2.355034,-0.003874,0.629877,0.000000,-7.860262,0.038266,0.024446,3.816533,...,9.184994,0.019076,0.002368,5.0,0.007859,0.000000,-7.456140,1.272230,-6.740331,-3.689499

In [128]:
#set_index 설정하기
train_dataFrame = train_dataFrame.set_index(['td', 'code'])
train_target_dataFrame = train_target_dataFrame.set_index(['td', 'code'])
train_after_dataFrame = train_after_dataFrame.set_index(['td', 'code'])
train_target_after_dataFrame = train_target_after_dataFrame.set_index(['td', 'code'])

# #NaN fillna
train_dataFrame.fillna(train_dataFrame.mean(), inplace=True)
train_after_dataFrame.fillna(train_after_dataFrame.mean(), inplace=True)
train_after_dataFrame.head()

                F001      F002      F003      F004       F005      F006  \
td   code
T221 A005  15.578284 -0.000860  0.869006 -0.245833   8.400000 -0.011710
     A006  10.359372  0.000000  0.753383  0.036667  -0.239808  0.035719
     A007  -8.673299 -0.000166  0.805044 -0.026893   2.678571  0.032706
     A008  -9.916731 -0.000813  2.835118 -0.021368  12.898752  0.079832
     A012  -2.355034 -0.003874  0.629877  0.000000  -7.860262  0.038266

               F007       F008      F009      F010  ...       F037      F038  \
td   code                                           ...
T221 A005  0.019515  12.898494  1.265823  0.003200  ...  24.884793  0.020731
     A006  0.019551   6.607818  1.369863  0.000656  ...  12.737127  0.005828
     A007  0.014382   7.376801  1.428571  0.002306  ...  10.460090 -0.004149
     A008  0.021287   0.176162  0.398406  0.000053  ...   0.369914  0.002191
     A012  0.024446   3.816533  1.666667 -0.002293  ...   9.184994  0.019076

               F039  F040      F041      F042       F043      F044       F045  \
td   code
T221 A005  0.001450   1.0  0.001742  3.252033  32.843137  0.536111  28.436019
     A006  0.000328   2.0  0.003055  0.000000  15.877437  1.045707  18.518519
     A007 -0.000415   6.0 -0.002155  0.000000 -12.394302  0.981462   1.623023
     A008 -0.005916   4.0  0.026129 -6.250000 -23.568075  0.626317 -13.679745
     A012  0.002368   5.0  0.007859  0.000000  -7.456140  1.272230  -6.740331

               F046
td   code
T221 A005  5.005733
     A006 -0.112380
     A007  1.890973
     A008  5.733594
     A012 -3.689499

[5 rows x 46 columns]

In [129]:
#비어있는 모델 객체 만들기
from sklearn.svm import SVR
clf = SVR(gamma='scale', C=1.0, epsilon=0.2)
clf.fit(train_dataFrame.values, train_target_dataFrame.values)

/usr/local/lib/python3.7/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.2, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [130]:
pred2 = clf.predict(train_after_dataFrame)

In [131]:
train_after_dataFrame.head()

                F001      F002      F003      F004       F005      F006  \
td   code
T221 A005  15.578284 -0.000860  0.869006 -0.245833   8.400000 -0.011710
     A006  10.359372  0.000000  0.753383  0.036667  -0.239808  0.035719
     A007  -8.673299 -0.000166  0.805044 -0.026893   2.678571  0.032706
     A008  -9.916731 -0.000813  2.835118 -0.021368  12.898752  0.079832
     A012  -2.355034 -0.003874  0.629877  0.000000  -7.860262  0.038266

               F007       F008      F009      F010  ...       F037      F038  \
td   code                                           ...
T221 A005  0.019515  12.898494  1.265823  0.003200  ...  24.884793  0.020731
     A006  0.019551   6.607818  1.369863  0.000656  ...  12.737127  0.005828
     A007  0.014382   7.376801  1.428571  0.002306  ...  10.460090 -0.004149
     A008  0.021287   0.176162  0.398406  0.000053  ...   0.369914  0.002191
     A012  0.024446   3.816533  1.666667 -0.002293  ...   9.184994  0.019076

               F039  F040      F041      F042       F043      F044       F045  \
td   code
T221 A005  0.001450   1.0  0.001742  3.252033  32.843137  0.536111  28.436019
     A006  0.000328   2.0  0.003055  0.000000  15.877437  1.045707  18.518519
     A007 -0.000415   6.0 -0.002155  0.000000 -12.394302  0.981462   1.623023
     A008 -0.005916   4.0  0.026129 -6.250000 -23.568075  0.626317 -13.679745
     A012  0.002368   5.0  0.007859  0.000000  -7.456140  1.272230  -6.740331

               F046
td   code
T221 A005  5.005733
     A006 -0.112380
     A007  1.890973
     A008  5.733594
     A012 -3.689499

[5 rows x 46 columns]

In [132]:
train_after_dataFrame.head()

                F001      F002      F003      F004       F005      F006  \
td   code
T221 A005  15.578284 -0.000860  0.869006 -0.245833   8.400000 -0.011710
     A006  10.359372  0.000000  0.753383  0.036667  -0.239808  0.035719
     A007  -8.673299 -0.000166  0.805044 -0.026893   2.678571  0.032706
     A008  -9.916731 -0.000813  2.835118 -0.021368  12.898752  0.079832
     A012  -2.355034 -0.003874  0.629877  0.000000  -7.860262  0.038266

               F007       F008      F009      F010  ...       F037      F038  \
td   code                                           ...
T221 A005  0.019515  12.898494  1.265823  0.003200  ...  24.884793  0.020731
     A006  0.019551   6.607818  1.369863  0.000656  ...  12.737127  0.005828
     A007  0.014382   7.376801  1.428571  0.002306  ...  10.460090 -0.004149
     A008  0.021287   0.176162  0.398406  0.000053  ...   0.369914  0.002191
     A012  0.024446   3.816533  1.666667 -0.002293  ...   9.184994  0.019076

               F039  F040      F041      F042       F043      F044       F045  \
td   code
T221 A005  0.001450   1.0  0.001742  3.252033  32.843137  0.536111  28.436019
     A006  0.000328   2.0  0.003055  0.000000  15.877437  1.045707  18.518519
     A007 -0.000415   6.0 -0.002155  0.000000 -12.394302  0.981462   1.623023
     A008 -0.005916   4.0  0.026129 -6.250000 -23.568075  0.626317 -13.679745
     A012  0.002368   5.0  0.007859  0.000000  -7.456140  1.272230  -6.740331

               F046
td   code
T221 A005  5.005733
     A006 -0.112380
     A007  1.890973
     A008  5.733594
     A012 -3.689499

[5 rows x 46 columns]

In [133]:
submission2 = pd.DataFrame(pred2, columns = ['target'], index = train_after_dataFrame.index)
submission2.head()

             target
td   code
T221 A005 -0.001522
     A006 -0.002411
     A007  0.005689
     A008  0.012706
     A012  0.011340

In [134]:
from sklearn.metrics import mean_squared_error
mean_squared_error(train_target_after_dataFrame.values, pred2)

0.0034245341146086562

                F001      F002      F003      F004       F005      F006  \
td   code
T001 A005   7.267364  0.004896  0.945559 -0.828748   0.641026 -0.038719
     A006  -7.477904 -0.000128  1.089255  0.042335   7.640449  0.038965
     A007   7.622525  0.001413  1.260723  0.001667  13.735577  0.025740
     A011  51.693204  0.000000  6.967351  0.268144 -11.543311  0.143675
     A012  -7.707446 -0.000763  1.201887  0.285988  21.070234 -0.006894

               F007      F008      F009      F010  ...      F037      F038  \
td   code                                          ...
T001 A005  0.015282 -1.015634  1.136364  0.004044  ... -1.567398  0.007646
     A006  0.016616 -0.631765  1.010101 -0.002093  ... -1.033058 -0.001463
     A007  0.012530  6.140861  0.862069  0.001328  ...  7.648485  0.003168
     A011  0.033834  0.401105  0.185529  0.006380  ...  1.358087  0.037001
     A012  0.017134  0.497051  0.833333  0.004365  ...  0.835655 -0.059726

               F039  F040      F041      F042        F043      F044  \
td   code
T001 A005  0.002793   1.0  0.004724 -1.041667   13.357401  0.793424
     A006 -0.002713   2.0 -0.004431  2.040816  -14.464286  0.546866
     A007 -0.000951   6.0 -0.004544  0.000000   13.052749  0.523903
     A011 -0.004078   2.0  0.012924 -7.142857  156.242771  1.050259
     A012 -0.000538   5.0 -0.000045  0.000000  -17.351598  0.865144

                 F045       F046
td   code
T001 A005   11.347518   0.544470
     A006   -4.960317   3.914780
     A007   -1.228115   9.910044
     A011  137.679277  -2.979930
     A012  -17.539863  12.087614

[5 rows x 46 columns]